[submodule "GeteWay"]
	path = GeteWay
	url = https://github.com/Nest-MicroServices1/GeteWay.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-MicroServices1/products-microservice.git
[submodule "OrderMicroservice"]
	path = OrderMicroservice
	url = https://github.com/Nest-MicroServices1/OrderMicroservice.git
[submodule "payments-microservice"]
	path = payments-microservice
	url = https://github.com/Nest-MicroServices1/Payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-MicroServices1/auth-ms.git
